.comment-box {
    
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
  }

  .commentaire-form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /*background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    font-family: Arial, sans-serif;
    flex-direction: column;
  }
  
  /* Style des labels */
  .commentaire-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
  }
  
  .commentaire-button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #9d3c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .commentaire-button:hover {
    background-color: #753535;
  }
  
  .comment-list {
    margin-top: 2em;
  }
  
  .comment {
    border-top: 1px solid #ccc;
    padding: 0.5em 0;
  }