



/*.table-container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .data-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .data-table thead {
    background-color: #9d3c3c;
    color: white;
  }
  
  .data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .data-table tbody tr:hover {
    background-color: #ddd;
  }
  
  .data-table th {
    font-weight: bold;
  }
  
  .data-table td {
    font-size: 14px;
  }
  
  .data-table td,
  .data-table th {
    border-radius: 4px;
  }
  
  @media (max-width: 768px) {
    .data-table,
    .data-table thead,
    .data-table tbody,
    .data-table th,
    .data-table td,
    .data-table tr {
      display: block;
      width: 100%;
    }
    
    .data-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    .data-table tr {
      border: 1px solid #ddd;
      margin-bottom: 10px;
      position: relative;
    }
    
    .data-table td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: right;
    }
    
    .data-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
    }
  }

  .title-liste{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }*/

  .table-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scroll for small screens */
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* Styles for larger screens (PC) */
  @media (min-width: 768px) {
    .data-table {
      display: table;
      overflow-x: auto; /* Enable horizontal scroll for small screens */
    }
  }
  
  /* Styles for smaller screens (smartphones) */
  @media (max-width: 768px) {
    .data-table {
      overflow-x: auto; /* Enable horizontal scroll for small screens */
      width: 100%;
    }
  
    
  
    .data-table tr {
      /*display: block;*/
      margin-bottom: 15px; /* Add spacing between rows */
      
    }
  
    .data-table td {
      /*display: block;*/
      text-align: right;
      
      position: relative;
    }
  
    /* Add labels for mobile view using pseudo-elements */
    .data-table td::before {
      content: attr(prenom); /* Utilise data-label pour afficher les titres de colonnes */
      position: absolute;
      left: 10px;
      /*width: calc(50% - 10px);*/
      text-align: left;
      font-weight: bold;
    }
  
  }