
.homepage-wrapper{
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */

    width: 100%;
}
.header_pres{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation{

    background-image: url('./../components/img/valse_contraste.JPG');
    background-size: cover; /* Assure que l'image couvre toute la div */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 100%; /* La div enfant (background-image) occupe toute la largeur de son parent */
    height: 100vh; /* La div enfant (background-image) occupe toute la hauteur de son parent */
    position: relative; /* Nécessaire pour positionner le contenu par-dessus */
}

.header_title{
    position: absolute; /* Permet de positionner le contenu par-dessus l'image */
    top: 50%; /* Centre verticalement le contenu */
    left: 50%; /* Centre horizontalement le contenu */
    transform: translate(-50%, -50%); /* Ajuste le positionnement pour être exactement au centre */
    color: white; /* Couleur du texte pour qu'il soit visible sur l'image */
    text-align: center; /* Centre le texte */
    padding: 20px; /* Ajoute une marge intérieure au contenu */
    font-weight: 400;
    font-size: 90.6px;
    font-family: Amatic;
    line-height: 1.2;
}

.homepage{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
}



.wrapper-text{
    /*position: relative;
    height: 35vh;
    align-self: center; /* Aligne l'élément à gauche sur la ligne */
    /*width: 50%;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    background-image: url('./../components/img/couronne2.png');
    background-size: contain; /* Assure que l'image couvre toute la div */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 100%; /* La div enfant (background-image) occupe toute la largeur de son parent */
    height: 50vh; /* La div enfant (background-image) occupe toute la hauteur de son parent */
    position: relative; /* Nécessaire pour positionner le contenu par-dessus */
    display: flex;
    justify-content: center;
}

.text-container{
    align-self: center; /* Aligne l'élément à gauche sur la ligne */
   
}

.text-bienvenue{
    text-align: center; /* Centre le texte */
    color: #000;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 24px;
    line-height: 30px;
}

.text-date{
    text-align: center; /* Centre le texte */
    color: #000;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height: 1.2;
}

.text-lieu{
    text-align: center; /* Centre le texte */
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
}


.map-wrapper{
    align-self: center; /* Aligne l'élément à gauche sur la ligne */
    justify-content: center;
    display: flex;
    margin: 10px;
}

.lieux-text-container{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #f9f9f9;
    opacity: 0.8;
    text-align: center;
}
.lieux-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url('./../components/img/hotel-la-gentilhommiere-facade-artres-475609NB.jpg');*/
    background-image: url('./../components/img/hotel-la-gentilhommiere-facade-artres-475609.jpg');
    /*background-image: url('./../components/img/hotel-la-gentilhommiere-facade-artres-429005.jpg');*/
    /*background-image: url('./../components/img/hotel-la-gentilhommiere-facade-artres-nb.jpg');*/
    background-size: cover; /* Assure que l'image couvre toute la div */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    height: 100vh;
    justify-content: center;
}

.homepage-deco {
    background-image: url('./../components/img/rose.jpg');
    background-size: cover; /* Assure que l'image couvre toute la div */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 100%; /* La div enfant (background-image) occupe toute la largeur de son parent */
    height: 30vh; /* La div enfant (background-image) occupe toute la hauteur de son parent */
    
  }

  @media (max-width: 768px) {
    .presentation {
        background-position: 35%;
    }

    .lieux-text-container{
        width: 75%;
    }
  }

.countdown-div {
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border: #000;
    border-radius: 8px;
    border-color: #000;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}
  
 