/* src/Navbar.css */

  
  /* Navbar container */
  .navbar-div {
    background-color: #9d3c3c;
    margin: 0;
    align-items: center;
    padding: 0;
    display: block;
    
  }
  .navbar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .initiales{
    font-weight: 400;
    font-size: 36px;
    font-family: Amatic;
    line-height: 1.2;
    margin: 10px auto 0 !important;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    justify-content: center;
    color: #fff;

  }
  .initiales-wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    background-image: url('./../components/img/logo4.png');
    background-size: contain; /* Assure que l'image couvre toute la div */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    width: 20vw; /* La div enfant (background-image) occupe toute la largeur de son parent */
    height: 20vh; /* La div enfant (background-image) occupe toute la hauteur de son parent */
    align-self: center;
  }

  .logo{
    
  }  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
    font-size: 25px;
    font-weight: 400;
    align-items: center;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    
  }
  
  .navbar-links a:hover {
    background-color: #c2b3b3;
    border-radius: 4px;
  }
  
  .active-link {
    background-color: #575757;
    border-radius: 4px;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
  }

  .navbar-ligne2{
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      top: 60px;
      left: 0;
      /*background-color: #333;*/
      background-color: rgba(255, 255, 255, 0.3);
      font-size: 22px;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: flex;
    }

    .navbar-logo{
      width: 70vw;
    }
  }