.array-orga {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
    font-size: 25px;
    font-weight: 400;
    align-items: center;
  }

.array-orga li {
color: #000;

text-decoration: none;
padding: 0.5rem 1rem;
transition: background-color 0.3s;
cursor: pointer;
border-radius: 4px;

}

.array-orga li:hover {
    background-color: #c2b3b3;
    border-radius: 4px;
  }

  .orga-navbar {
    background-color: #d5b2a3;
    border-radius: 4px;
    padding: 4px;
  }

.container-form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.orga-form-wrapper{
  width: 25%;
  display: flex;
  border: #000;
  border-radius: 4px;
  border-color: #fff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  background-color: #fff;
  margin: 2%;
  padding: 2%;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .orga-form-wrapper {
    padding: 15px;
    width: 25%;
  }
}


