
.regime-aucun{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.regime-végétarien{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.regime-végétalien{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.regime-alergie{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.regime-autre{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
}