
.regime-alimentaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.regime-aucun{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.regime-végétarien{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.regime-végétalien{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.regime-alergie{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.regime-autre{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}